<DOCTYPE html>

    <html>

    <head>
        <title>About</title>
        <link rel ="icon" href = "../../public/images/weather.png">
        <link rel = "stylesheet" href = "./css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>
            This site was created by Pooja Sarath. It uses data from mapbox.com and darksky.net !
        </p>
        <img src = "./images/robot.png" class="potraitImg">
        {{>footer}}       
    </body>

    </html>